div
{
    float:left;
}

ul{ list-style:none; }

.sequence_box{max-width:500px; width:100%; height:380px; 
    border:1px solid #ccc; margin:0 auto;}

#sequence ul{white-space:nowrap; 
    overflow-x: auto; text-align:center}

#sequence ul li{display:inline-block; 
    padding: 10px 10px; margin-right:10px; margin-bottom: 20px;}
